In [41]:
import pandas as pd

csvpath = "depression-ihme-vs-who.csv"

depression_df = pd.read_csv(csvpath)
depression_df.columns

depression_df.head(5)

,Entity,Code,Year,Share of population with depression (IHME) (%),Share of population with depression (WHO) (%),Total population (Gapminder)
0,Afghanistan,AFG,2016,4.404727,NaN,NaN
1,Albania,ALB,2016,2.450883,NaN,NaN
2,Algeria,DZA,2016,3.946200,NaN,NaN
3,American Samoa,ASM,2016,3.252115,NaN,NaN
4,Andean Latin America,NaN,2016,2.903733,NaN,NaN

In [42]:
#rename columns, delete extra columns with no data for 2016
depression_df = depression_df.rename(columns = {"Entity": "Country", "Share of population with depression (IHME) (%)": "Pop_w_depression", "Share of population with depression (WHO) (%)":"delete", "Total population (Gapminder)":"delete_me"})
del depression_df['delete']
del depression_df['delete_me']
depression_df.head()

                Country Code  Year  Pop_w_depression
0           Afghanistan  AFG  2016          4.404727
1               Albania  ALB  2016          2.450883
2               Algeria  DZA  2016          3.946200
3        American Samoa  ASM  2016          3.252115
4  Andean Latin America  NaN  2016          2.903733

In [53]:
#keep only 2016 data
depression2016_df = depression_df.loc[(
    depression_df["Year"] == 2016)]
depression2016_df.head()

                Country Code  Year  Pop_w_depression
0           Afghanistan  AFG  2016          4.404727
1               Albania  ALB  2016          2.450883
2               Algeria  DZA  2016          3.946200
3        American Samoa  ASM  2016          3.252115
4  Andean Latin America  NaN  2016          2.903733